.about {

    &--sectionleft {
        float: left;
        margin-left: 5%;
        margin-top: 7%;
        animation: leftIn 1.5s;

        &--img {
            border-radius: 4px;
            width: 300px;
            height: 581px;
            float: left;
            display: block;
            transform: scaleX(-1);
            position: absolute;
        }
    }

    &--sectionright {
        float: right;
        margin-top: 5%;
        width: 50%;
        margin-right: 5%;
        background: rgba(255, 255, 255, 0.699);
        border-radius: 20px;
        padding: 0 30px 25px 30px;
        animation: rightIn 1.5s;
    }

    &--title {
        display: flex;
        justify-content: flex-start;
        font-weight: bold;
        color: $black;
    }

    &--paragraph {
        font-size: 20px;
        text-align: justify;
    }

    &--ul {
        display: flex;
        justify-content: space-evenly;

        li {
            list-style: none;
            border: 3px solid #4267b2;
            border-radius: 3px;
            padding: 5px 14px 5px 14px;
            text-transform: uppercase;
        }
    }

    &--question {
        font-size: 20px;
        text-align: justify;
    }

    &--link {
        text-decoration: none;
        color: rgb(65, 65, 65);
        text-shadow: 2px 2px 1px black;
        background: #4267b2;
        padding: 10px 20px 10px 20px;
        border-radius: 6px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            color: black;
            text-shadow: none;
        }
    }
}