.about {
    background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1804/Vector-design-landscape-mountains-lake-trees-deer_1920x1080.jpg);
    background-position: center;
    background-size: cover;
    &--sectionleft {
        float: left;
        margin-left: 5%;
        margin-top: 7%;

        &--img {
            border-radius: 4px;
            width: 300px;
            height: auto;
            float: left;
            margin-top: 7%;
            display: block;
        }
    }

    &--sectionright {
        float: right;
        margin-top: 5%;
        width: 50%;
        margin-right: 5%;
    }

    &--title {
        display: flex;
        justify-content: flex-start;
        font-weight: bold;
        text-shadow: 2px 2px 1px white;
        color: rgb(65, 65, 65);
    }

    &--paragraph {
        font-size: 20px;
        text-align: justify;
    }

    &--ul {
        display: flex;
        justify-content: space-evenly;

        li {
            list-style: none;
            border: 3px solid #4267b2;
            border-radius: 3px;
            padding: 5px 14px 5px 14px;
            text-transform: uppercase;
        }
    }

    &--question {
        font-size: 20px;
        text-align: justify;
    }

    &--link {
        text-decoration: none;
        color: rgb(65, 65, 65);
        text-shadow: 2px 2px 1px black;
        background: #4267b2;
        padding: 10px 20px 10px 20px;
        border-radius: 6px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            color: black;
            text-shadow: none;
        }
    }
}