$white: #ffffff;
$black: #000000;
$transparent: transparent;

$brand-primary:#222;
$brand-secondary: black;
$brand-tertiary: #999;
$brand-quartery: #1000;

$text-color-primary: #2f2f44;
$text-color-secondary: #ffffff;

$global-hover: rgba(31, 87, 199, 0.863);