.contact {
    margin-top: 5%;

    &--title {
        font-weight: bold;
        text-shadow: 2px 2px 1px white;
        color: #414141;
        text-align: center;
    }

    &--subtitle {
        &--paragraph {}
    }

    &--link {
        display: flex;
        text-decoration: none;
        text-shadow: 2px 2px 1px black;
        color: rgb(65, 65, 65);
        background: #4267b2;
        border-radius: 4px;
        color: white;
        font-weight: bold;
        transition: 0.5s;
        padding: 15px;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin: 3% auto;

        &:hover {
            color: black;
            cursor: pointer;
            text-shadow: unset;
        }
    }

    ul {
        margin-top: 5%;
        display: flex;
        justify-content: space-evenly;

        li {
            min-width: 17%;
            width: 20%;
            margin: 10px;
            font-size: 18px;
            text-align: center;
            list-style: none;
            background: rgb(136, 96, 248);
            border-radius: 4px;
            padding: 20px;
        }

        i {
            font-size: 30px;
        }
    }
}