.contact {
    margin: 5%;
    background: rgba(255, 255, 255, 0.699);
    position: relative;
    padding: 10px 30px 10px 0;
    border-radius: 4px;
    animation: appear 1.5s;
    

    &--title {
        font-weight: bold;
        color: $black;
        text-align: center;
    }

    &--subtitle {
        &--paragraph {}
    }

    &--link {
        display: flex;
        text-decoration: none;
        background: #4267b2;
        border-radius: 4px;
        color: $white;
        text-shadow: 2px 2px 1px black;
        font-weight: bold;
        transition: 0.4s;
        padding: 15px;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin: 3% auto;

        &:hover {
            color: black;
            cursor: pointer;
            text-shadow: unset;
        }
    }

    ul {
        margin-top: 5%;
        display: flex;
        justify-content: space-evenly;

        li {
            min-width: 17%;
            width: 20%;
            margin: 10px;
            font-size: 18px;
            color: $white;
            text-shadow: 1px 1px 1px black;
            text-align: center;
            list-style: none;
            background: rgba(31, 87, 199, 0.863);
            border-radius: 4px;
            padding: 20px;
            transition: 0.6s ease-in-out;
            &:hover{
                color: $black;
                text-shadow: unset;
                transform: scale(1.1);
            }
        }

        i {
            font-size: 30px;
        }
    }
}