.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.699);

    :nth-child(1) {
        flex-grow: 1;
        order: 0;
    }

    :nth-child(2) {
        flex-grow: 0;
        order: 4;
    }

    :nth-child(3) {
        flex-grow: 0; //0.05  ( 2 , 3 , 4)
        order: 2;
    }

    :nth-child(4) {
        flex-grow: 0;
        order: 3;
    }

    :nth-child(5) {
        flex-grow: 0;
        order: 1;
    }

    &--title {
        font-size: 20px;
        color: black;
        margin-left: 5%;
        transition: 0.4s ease-in-out;
        &:hover{
            color: $global-hover;
        }
    }

    &--link {
        margin-right: 5%;

        i {
            font-size: 35px;
            color: black;
            transition: 0.4s ease-in-out;

            &:hover {
                color: $global-hover;
            }
        }
    }


}