.homeview {}

.home {
    margin-top: 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;

    &--left {
        position: relative;
        left: 6vh;
        float: left;
        background: rgba(255, 255, 255, 0.699);
        border-radius: 4px;
        padding: 20px 65px 20px 65px;
        animation: leftIn 1.5s;

        i {
            font-size: 25px;
        }
    }

    &--arrow {
        font-size: 20px;
        position: fixed;
        top: 87%;
        left: 96.5%;
        background: white;
        border-radius: 50%;
        padding: 6px;
        cursor: pointer;
        transition: 0.4s ease-in-out;

        &:hover {
            color: $global-hover;
        }
    }

    &--right {
        position: relative;
        float: right;
        -webkit-animation: rightIn 1.5s;
        animation: rightIn 1.5s;
        right: 5.5vh;
        top: 5vh;
    }

    &--title {
        text-shadow: 2px 2px 2px black;
        background: #4267b2;
        padding: 10px 0 10px 30px;
        border-radius: 20px 20px 20px 0;
        max-width: 45%;
        min-width: 35%;
        letter-spacing: 1px;
        color: $white;
    }

    &--name {
        font-weight: bold;
        color: $black;
        min-height: 10vh;
    }

    &--mail,
    &--number,
    &--adress {
        font-size: 20px;
        border-bottom: 1px solid;
        width: 101%;
    }

    &--links {
        display: flex;
        justify-content: space-around;
    }

    &--img {
        display: flex;
        &--screenshot {
            position: relative;
            right: 4.5vh;
            width: 300px;
            border-radius: 4px;
            background: #64AAFF;
            padding: 20px 20px 40px 20px;
        }
    }
}