.links {
    &--icon {
        transition: 0.4s ease-in-out;
        cursor: pointer;
        i{
            font-size: 35px;
        }
        &:hover{
            color: $global-hover;
            transform: scale(1.3);
        }
    }
}